*{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans';

}

.jumbotron{
    background-image: url('/resources/img/bg.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 0px!important;
    margin-bottom: 0;
}
.jumbotron h1{
    margin: 30px 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
}
.intro{
    padding-top: 500px;
    padding-left: 800px;
}
.intro button a{
    color: white;
    text-decoration:none;
    text-transform: uppercase;
}
.intro button a:hover{
    color:#1a1919 ;
}
.navbar-nav a{
    color: white!important;
    margin: 0 25px;
}
.navbar-toggler{
    color: white!important;
    border: none;
    outline: none;
}
.navbar-toggler .fa{
    color: white;
    font-size: 26px;
}
.nav-link:hover{
    font-weight: 600;
}
#login{
    background-color: #1a1919;
    height: 100vh;
}

#login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 320px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
}
.login-text{
    color: #1a1919;
}
#login button{
    text-transform: uppercase;
}
.footer{
    background-color: black;
}

